@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot") format("embedded-opentype"), url("/fonts/icomoon.ttf") format("truetype"),
    url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e900";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-arrow:before {
  content: "\e901";
  color: #4db282;
  font-size: 65px;
  line-height: 65px;
}
.icon-brain:before {
  content: "\e902";
  color: #4db282;
  font-size: 65px;
  line-height: 65px;
}
.icon-combined-shape:before {
  content: "\e903";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-facebook:before {
  content: "\e904";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-grafff:before {
  content: "\e905";
  color: #4db282;
  font-size: 65px;
  line-height: 65px;
}
.icon-instagram:before {
  content: "\e906";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-lamp:before {
  content: "\e907";
  color: #4db282;
  font-size: 65px;
  line-height: 65px;
}
.icon-note:before {
  content: "\e908";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-note2:before {
  content: "\e909";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-quotes:before {
  content: "\e90a";
  color: #4db282;
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  right: 0;
  top: -50px;
}
.icon-rocket:before {
  content: "\e90b";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-shape:before {
  content: "\e90c";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
.icon-twitter:before {
  content: "\e90d";
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  position: relative;
  left: 25px;
  top: 25px;
}
