@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.yellow-rectangle-bg::after {
  content: url(/img/rectangle/Rectangle2.png);
  position: absolute;
  top: 0;
  right: -135px;
  z-index: -2;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 100px;
  height: 30px;
}

.header__nav {
  margin-left: 20px;
  width: 460px;
}

.nav__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.header__nav-button {
  width: 170px;
  height: 48px;
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
}

.nav-button {
  font-family: 'Hind Siliguri', sans-serif;
  display: block;
  width: 170px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F07566;
  border-radius: 5px;
  border: 1px solid #F07566;
  background-color: transparent;
}

.block__creative-diagram {
  margin-top: 115px;
}

.block__text {
  max-width: 470px;
}

.block__text > p {
  padding-top: 59px;
  color: #f07566;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.point {
  margin: 60px 12px 0 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #f07566;
  border-radius: 6px;
}

.block__head div:first-child {
  margin-top: 25px;
}

.block__head > p {
  font-family: "Work Sans", sans-serif;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.block__button {
  width: 170px;
  height: 48px;
  font-family: "Hind Siliguri", sans-serif;
  text-align: center;
}

.button {
  font-family: "Hind Siliguri", sans-serif;
  display: block;
  width: 170px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f07566;
  background-color: #f07566;
  margin-top: 35px;
}

.creative__diagram {
  position: relative;
  width: 460px;
  height: 478px;
  background-color: #fbd34b;
  border-radius: 100px 8px 8px 8px;
  margin-right: 40px;
}

.creative__diagram_schedule {
  width: 216px;
  position: absolute;
  left: -50px;
  bottom: -50px;
  border-radius: 8px;
}

.creative__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.creative__red_box {
  width: 132px;
  height: 184px;
  position: absolute;
  top: 157px;
  right: -40px;
  z-index: -1;
  background-color: #f07566;
  border-radius: 8px;
}

.block__we-build-pro {
  margin: 350px 130px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block__text {
  max-width: 470px;
}

.block__text p {
  padding-top: 0;
}

.martop {
  margin: 0 12px 0 0;
}

.block__head-list {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.block__head-list li::before {
  content: url(/img/we_build_pro_busines/Shape.svg);
  width: 26px;
  height: 22px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.block__head > p {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 34px;
}

.block__head-title {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #333333;
}

.we-build-pro__diagram {
  position: relative;
  width: 520px;
  height: 448px;
  background-color: #d8d8d8;
  border-radius: 8px 100px 8px 8px;
  margin-left: 40px;
}

.we-build-pro__diagram_schedule {
  width: 128px;
  height: 128px;
  position: absolute;
  right: -46px;
  bottom: -56px;
  border-radius: 8px;
}

.we-build-pro__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.we-build-pro__red_box {
  width: 132px;
  height: 160px;
  position: absolute;
  left: -30px;
  bottom: -30px;
  z-index: -1;
  background-color: #f07566;
  border-radius: 8px;
}

.we-build-pro__yellow_bg {
  width: 482px;
  height: 326px;
  background-color: #fbd34b;
  position: absolute;
  bottom: -16px;
  left: -16px;
  z-index: -1;
}

.support {
  margin-top: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.grey-rectangle-bg::before {
  content: url(/img/rectangle/Rectangle.png);
  position: absolute;
  top: -50%;
  left: -135px;
  z-index: -1;
}

.support__block {
  padding: 32px;
  background-color: #ffffff;
  max-width: 270px;
  width: 100%;
}

.support__block-logo {
  margin-bottom: 89px;
}

.support__block-title {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
}

.support__block-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.603);
}

.wrapper-content.scs {
  margin-top: 305px;
}

div > p.block__head-paragraph {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

div > p.block__head-paragraph.under-paragraph {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  margin-left: 32px;
  color: rgba(51, 51, 51, 0.603);
}

.block__head-paragraph.second-paragraph {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  margin-left: 32px;
}

.block__head-paragraph.second-paragraph::before {
  content: url(/img/scs/star.svg);
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.scs__diagram {
  position: relative;
  width: 460px;
  height: 480px;
  background-color: #D8D8D8;
  border-radius: 100px 8px 8px 8px;
  margin-right: 40px;
}

.scs__diagram_schedule {
  width: 216px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -100px;
  border-radius: 8px;
}

.scs__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.scs__red_box {
  width: 216px;
  height: 128px;
  position: absolute;
  top: -32px;
  right: -40px;
  z-index: -1;
  background-color: #f07566;
  border-radius: 8px;
}

.scs__yellow_bg {
  width: 173px;
  height: 439px;
  background-color: #fbd34b;
  position: absolute;
  bottom: -16px;
  right: -16px;
  z-index: -1;
}

.block__text.portfolio {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

div.block__portfolio .block__text .block__head .under-paragraph {
  margin: 30px 0 60px 0;
  text-align: center;
}

.block__portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__cards {
  max-width: 570px;
  width: 100%;
  margin-bottom: 50px;
}

.cards__photo {
  width: 570px;
  height: 384px;
  background-color: #D8D8D8;
  border-radius: 8px;
  position: relative;
}

.cards__info {
  text-align: center;
}

.cards__nomber {
  width: 96px;
  height: 96px;
  background-color: #4DB282;
  border-radius: 0 20px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cards__nomber span {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
}

.cards__title {
  margin-top: 25px;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.cards__under-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.block__portfolio .block__button {
  margin: 0 auto;
}

.block__portfolio .block__button .button {
  background-color: transparent;
  color: #F07566;
}

.company {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 145px 0 220px 0;
}

.strategy {
  height: 340px;
  padding: 20px;
  background-color: #F07566;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strategy .block__text {
  color: white;
}

.block__media {
  margin-left: 20px;
  position: relative;
}

.block__head-title.strategy_title {
  color: white;
}

.media_bg {
  position: absolute;
  z-index: -1;
  top: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 250px;
}

.media_bg-img {
  height: 100%;
  width: 500px;
}

.media__video {
  width: 500px;
  height: 300px;
}

.block__text.strong_members {
  margin: 150px auto 0;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

div.block__text.strong_members .block__head .under-paragraph {
  margin: 30px 0 100px 0;
  text-align: center;
}

.members {
  margin: 0 15px 230px 15px;
}

.members__cards {
  max-width: 370px;
  width: 100%;
  max-height: 448px;
  height: 100%;
  margin: 10px;
}

.members__cards__photo img {
  max-width: 350px;
  max-height: 200px;
}

.members__cards__title {
  margin-top: 25px;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.members__cards__under-title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.block__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__mod {
  text-align: start;
}

.reviews {
  min-width: 470px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 24px 48px rgba(0, 17, 86, 0.15);
          box-shadow: 5px 24px 48px rgba(0, 17, 86, 0.15);
  border-radius: 8px;
}

div.reviews > p.block__head-paragraph.under-paragraph {
  margin-left: 0;
}

.reviews > div {
  position: relative;
}

.carousel.carousel_reviews .slick-prev, .carousel.carousel_reviews .slick-next {
  position: absolute;
  top: 100%;
  background: #F07566;
  border-radius: 50%;
  display: block;
  z-index: 10;
}

.carousel.carousel_reviews .slick-prev {
  left: 43%;
}

.carousel.carousel_reviews .slick-next {
  right: 43%;
}

.carousel.carousel_reviews .slick-prev:before,
.carousel.carousel_reviews .slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  margin-top: -7px;
  opacity: 1;
  color: white;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-content {
  max-width: 1170px;
  margin: 0 auto;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#toTop {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #F07566;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 35px;
  /* отступ кнопки от нижнего края страницы*/
  right: 35px;
  cursor: pointer;
  display: none;
}

#toTop::before {
  content: '▲';
  color: white;
  font-size: 30px;
  line-height: 40px;
}
