@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  z-index: -1000;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.yellow-rectangle-bg::before {
  content: '';
  background-image: url(../img/rectangle/Rectangle2.png);
  display: block;
  width: 600px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  right: -135px;
  z-index: -50;
  background-size: 100% 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
  z-index: 1;
}

.menu li {
  margin-top: 20px;
  height: 50px;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
  text-align: center;
}

.menu li a {
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1.5s;
          animation: line 1.5s;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 100px;
  height: 30px;
}

.logo_mobile {
  display: none;
}

.header__nav {
  margin-left: 20px;
  width: 460px;
}

.nav__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.header__nav-button {
  width: 170px;
  height: 48px;
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
}

.nav-button {
  font-family: 'Hind Siliguri', sans-serif;
  display: block;
  width: 170px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F07566;
  border-radius: 5px;
  border: 1px solid #F07566;
  background-color: transparent;
}

.gradient-btn {
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  position: relative;
}

.gradient-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 48px;
  background: -webkit-gradient(linear, right top, left top, from(#ecf011), to(#c9890073));
  background: linear-gradient(to left, #ecf011, #c9890073);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.gradient-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger-icon {
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  position: absolute;
  outline: none;
  display: none;
  cursor: pointer;
  background-color: #F07566;
  border-radius: 50px;
  z-index: 20;
}

.burger-icon-item {
  width: 22px;
  height: 2px;
  background: #fff;
  position: relative;
  margin-left: 14px;
  border-radius: 2px;
}

.burger-icon-item::before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-icon-item::after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger-icon.menu-open .burger-icon-item::before,
.burger-icon.menu-open .burger-icon-item::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: visible;
}

.burger-icon.menu-open .burger-icon-item::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-icon.menu-open .burger-icon-item {
  visibility: hidden;
}

.block__creative-diagram {
  margin-top: 115px;
}

.block__text {
  max-width: 470px;
}

.block__text > p {
  padding-top: 59px;
  color: #f07566;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.point {
  margin: 60px 12px 0 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #f07566;
  border-radius: 6px;
}

.block__head div:first-child {
  margin-top: 25px;
}

.block__creative-diagram .block__head > p {
  font-family: "Work Sans", sans-serif;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.block__button {
  width: 170px;
  height: 48px;
  font-family: "Hind Siliguri", sans-serif;
  text-align: center;
}

.button {
  font-family: "Hind Siliguri", sans-serif;
  display: block;
  width: 170px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f07566;
  background-color: #f07566;
  margin-top: 35px;
  -webkit-box-shadow: 0px 5px 10px #f07666;
          box-shadow: 0px 5px 10px #f07666;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-bottom: 2px solid rgba(240, 118, 102, 0.418);
}

.button:hover {
  -webkit-box-shadow: 0px 15px 25px -5px #f07666;
          box-shadow: 0px 15px 25px -5px #f07666;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.button:active {
  -webkit-box-shadow: 0px 4px 8px #f07666;
          box-shadow: 0px 4px 8px #f07666;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.creative__diagram {
  position: relative;
  width: 460px;
  height: 478px;
  border-radius: 100px 8px 8px 8px;
  margin-right: 40px;
}

.creative__diagram > img {
  border-radius: 100px 8px 8px 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.creative__diagram_schedule {
  width: 216px;
  position: absolute;
  left: -50px;
  bottom: -50px;
  border-radius: 8px;
}

.creative__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.creative__red_box {
  width: 132px;
  height: 184px;
  position: absolute;
  top: 157px;
  right: -40px;
  background-color: #f07566;
  border-radius: 8px;
  z-index: -10;
}

.block__we-build-pro {
  margin: 350px 130px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block__text {
  max-width: 470px;
}

.block__text p {
  padding-top: 0;
}

.martop {
  margin: 0 12px 0 0;
}

.block__head-list {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.block__head-list li::before {
  content: url(../img/we_build_pro_busines/Shape.svg);
  width: 26px;
  height: 22px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.block__head > p {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 34px;
}

.block__head-title {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #333333;
}

.we-build-pro__diagram {
  position: relative;
  width: 520px;
  height: 448px;
  border-radius: 8px 100px 8px 8px;
  margin-left: 40px;
}

.we-build-pro__diagram > img {
  border-radius: 8px 100px 8px 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.we-build-pro__diagram_schedule {
  width: 128px;
  height: 128px;
  position: absolute;
  right: -46px;
  bottom: -56px;
  border-radius: 8px;
}

.we-build-pro__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.we-build-pro__red_box {
  width: 132px;
  height: 160px;
  position: absolute;
  left: -30px;
  bottom: -30px;
  background-color: #f07566;
  border-radius: 8px;
  z-index: -10;
}

.we-build-pro__yellow_bg {
  width: 482px;
  height: 326px;
  background-color: #fbd34b;
  position: absolute;
  bottom: -16px;
  left: -16px;
  z-index: -15;
}

.support {
  margin-top: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.grey-rectangle-bg::before {
  content: '';
  background-image: url(../img/rectangle/Rectangle.png);
  display: block;
  width: 700px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: -220px;
  left: -135px;
  z-index: -50;
  background-size: 100% 100%;
}

.support__block {
  padding: 32px;
  background-color: #ffffff;
  max-width: 270px;
  width: 100%;
  -webkit-box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
          box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.support__block-logo {
  margin-bottom: 89px;
}

.support__block-title {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
}

.support__block-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.603);
}

.main-content.scs {
  margin-top: 305px;
}

div > p.block__head-paragraph {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

div > p.block__head-paragraph.under-paragraph {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  margin-left: 32px;
  color: rgba(51, 51, 51, 0.603);
}

.block__head-paragraph.second-paragraph {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  margin-left: 32px;
}

.block__head-paragraph.second-paragraph::before {
  content: url(../img/scs/star.svg);
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.shadow__paragraph {
  -webkit-box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
          box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
  border-radius: 8px;
}

.scs__diagram {
  margin: 70px 40px 50px 0;
  position: relative;
  width: 460px;
  height: 480px;
  border-radius: 100px 8px 8px 8px;
}

.scs__diagram > img {
  border-radius: 100px 8px 8px 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.scs__diagram_schedule {
  width: 216px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -100px;
  border-radius: 8px;
}

.scs__icon_creative-diagram {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #4db282;
  border-radius: 50px 50px 0 50px;
}

.scs__red_box {
  width: 216px;
  height: 128px;
  position: absolute;
  top: -32px;
  right: -40px;
  background-color: #f07566;
  border-radius: 8px;
  z-index: -10;
}

.scs__yellow_bg {
  width: 173px;
  height: 439px;
  background-color: #fbd34b;
  position: absolute;
  bottom: -16px;
  right: -16px;
  z-index: -15;
}

.block__text.portfolio {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

div.block__portfolio .block__text .block__head .under-paragraph {
  margin: 30px 0 60px 0;
  text-align: center;
}

.block__portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__cards {
  max-width: 570px;
  margin-bottom: 50px;
}

.cards__photo {
  width: 570px;
  max-width: 100%;
  height: 384px;
  border-radius: 8px;
  position: relative;
}

.cards__photo {
  position: relative;
  max-width: 570px;
  max-height: 384px;
}

.cards__photo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__info {
  text-align: center;
}

.cards__nomber {
  width: 96px;
  height: 96px;
  background-color: #4DB282;
  border-radius: 0 20px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cards__nomber span {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
}

.cards__title {
  margin-top: 25px;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.cards__under-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.block__portfolio .block__button {
  margin: 0 auto;
}

.block__portfolio .block__button .button {
  background-color: transparent;
  color: #F07566;
}

.block__portfolio div > p.block__head-paragraph {
  font-size: 16px;
  line-height: 32px;
}

.company {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 145px 0 220px 0;
}

.company div {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.strategy {
  height: 340px;
  padding: 20px;
  background-color: #F07566;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strategy .block__text {
  color: white;
}

.block__media {
  margin-left: 20px;
  position: relative;
}

.block__head-title.strategy_title {
  color: white;
}

.media_bg {
  position: absolute;
  z-index: -1;
  top: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 250px;
}

.media_bg-img {
  height: 100%;
  width: 500px;
}

.media__video {
  width: 500px;
  height: 300px;
}

.block__text.strong_members {
  margin: 150px auto 0;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

div.block__text.strong_members .block__head .under-paragraph {
  margin: 30px 0 100px 0;
  text-align: center;
}

.members {
  margin: 0 0 230px 0;
}

.members__cards {
  background-color: white;
  padding: 20px 15px;
  max-width: 370px;
  width: 100%;
  max-height: 448px;
  height: 100%;
  border: 1px solid #E6EDF5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-shadow: -1px 3px 8px 10px rgba(34, 60, 80, 0.32);
          box-shadow: -1px 3px 8px 10px rgba(34, 60, 80, 0.32);
  border-radius: 8px;
}

.members__cards__photo img {
  width: 100%;
  height: 320px;
  display: block;
  border-radius: 8px 8px 50px 8px;
}

.members__cards__title {
  margin-top: 25px;
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: start;
}

.members__cards__under-title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.block__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__mod {
  text-align: start;
}

.reviews {
  min-width: 470px;
  padding: 30px;
  background: #FFFFFF;
}

div.reviews > p.block__head-paragraph.under-paragraph {
  margin-left: 0;
}

.reviews > div {
  position: relative;
}

.we-build-pro__diagram.reviews__bg-photo {
  position: relative;
}

.we-build-pro__diagram.reviews__bg-photo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel.carousel_reviews .slick-prev, .carousel.carousel_reviews .slick-next {
  position: absolute;
  top: 100%;
  background: #F07566;
  border-radius: 50%;
  display: block;
  z-index: 10;
}

.carousel.carousel_reviews .slick-prev {
  left: 43%;
  margin-top: 20px;
}

.carousel.carousel_reviews .slick-next {
  right: 43%;
  margin-top: 20px;
}

.carousel.carousel_reviews .slick-prev:before,
.carousel.carousel_reviews .slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  margin-top: -7px;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.block__head.reviews__mod div:last-child {
  margin-top: 0px;
}

.main-content.your_next_project__mod {
  width: 100%;
  background-color: #F07566;
  margin-top: 240px;
  padding: 80px 100px;
  position: relative;
}

.your_next_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.your_next_project__title {
  max-width: 260px;
}

.your_next_project__title h2 {
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.block__button.your_next_project__mod .button {
  background-color: #FBD34B;
  color: black;
}

.your_next_project__paragraph {
  max-width: 470px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.your_next_project__art {
  position: absolute;
  bottom: -110px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.your_next_project .button {
  border: 1px solid #f0db66;
  -webkit-box-shadow: 0px 5px 10px #f0db66;
          box-shadow: 0px 5px 10px #f0db66;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-bottom: 2px solid rgba(231, 240, 102, 0.459);
}

.your_next_project .button:hover {
  -webkit-box-shadow: 0px 15px 25px -5px #e7f066;
          box-shadow: 0px 15px 25px -5px #e7f066;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.your_next_project .button:active {
  -webkit-box-shadow: 0px 4px 8px #f0db66;
          box-shadow: 0px 4px 8px #f0db66;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.main-content.company_newsletter {
  margin-top: 110px;
  margin-bottom: 50px;
}

.company_newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}

.input__button {
  max-width: 500px;
}

.form {
  margin-top: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .button {
  margin-top: 0;
  margin-left: 46px;
}

.label {
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: -20px;
}

.input__area {
  width: 270px;
  height: 48px;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 10px;
}

.input__area::-webkit-input-placeholder {
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.input__area:-ms-input-placeholder {
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.input__area::-ms-input-placeholder {
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.input__area::placeholder {
  padding-left: 10px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.footer__mod {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #333333;
}

.footer-content {
  margin-top: 80px;
  padding: 70px 0;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #494949;
}

.footer h3 {
  font-family: 'Hind Siliguri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F07566;
  margin-bottom: 32px;
}

.footer li a {
  color: #FFFFFF;
}

.footer:last-child {
  content: '';
  margin-right: 110px;
}

.menu_list {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.social__logo_mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__logo:hover {
  cursor: pointer;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
          animation: 1200ms ease 0s normal none 1 running shake;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  30% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  40% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }
  50% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  70% {
    -webkit-transform: rotateZ(-4.28571deg);
            transform: rotateZ(-4.28571deg);
  }
  80% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }
  90% {
    -webkit-transform: rotateZ(-3.33333deg);
            transform: rotateZ(-3.33333deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  10% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  20% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  30% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  40% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }
  50% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  70% {
    -webkit-transform: rotateZ(-4.28571deg);
            transform: rotateZ(-4.28571deg);
  }
  80% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }
  90% {
    -webkit-transform: rotateZ(-3.33333deg);
            transform: rotateZ(-3.33333deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.social__logo {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #F07566;
  position: relative;
}

.footer__copyrite {
  padding: 50px 20px;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyrite {
  max-width: 400px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

.privat__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.privat__policy a {
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .cards__photo {
    width: 500px;
  }
  .we-build-pro__diagram {
    width: 460px;
  }
  .we-build-pro__yellow_bg {
    width: 400px;
  }
  .block__we-build-pro {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }
  .we-build-pro__diagram {
    width: 420px;
    margin-right: 10px;
  }
  .we-build-pro__yellow_bg {
    width: 360px;
  }
  .block__we-build-pro .block__text {
    margin-right: 20px;
  }
  .yellow-rectangle-bg::before {
    right: -20px;
  }
  .menu li {
    margin-top: 0px;
  }
  .header__nav-button {
    display: none;
  }
  .header.menu-open .header__nav-button {
    display: block;
    z-index: 15;
    position: fixed;
    left: 120px;
    top: 100px;
  }
  .header__nav {
    display: none;
    width: 100%;
  }
  .header.menu-open .header__nav {
    display: block;
  }
  .header.menu-open .nav__item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 50px;
    left: -110px;
    width: 100%;
  }
  .nav-button {
    position: relative;
    right: 100px;
  }
  .burger-icon {
    display: block;
    right: 5px;
    top: 15px;
  }
  .scs__diagram {
    width: 400px;
  }
  .cards__photo {
    max-width: 480px;
  }
  .support__block {
    padding: 25px;
    background-color: #ffffff;
    max-width: 220px;
    width: 100%;
  }
  .strategy .block__media {
    margin-left: 10px;
  }
  .strategy .block__text {
    max-width: 400px;
  }
  .strategy {
    padding: 0px;
  }
  .footer-content {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  #toTop {
    bottom: 15px !important;
    /* отступ кнопки от нижнего края страницы*/
    right: 15px !important;
  }
  .icon-combined-shape:before,
  .icon-triangle:before,
  .icon-combined-shape:before,
  .icon-note:before,
  .icon-note2:before,
  .icon-rocket:before,
  .icon-shape:before {
    font-size: 35px;
    line-height: 35px;
    position: relative;
    left: 13px;
    top: 13px;
  }
  .icon-arrow:before {
    content: "\e901";
    color: #4db282;
    font-size: 65px;
    line-height: 65px;
  }
  .icon-brain:before {
    content: "\e902";
    color: #4db282;
    font-size: 65px;
    line-height: 65px;
  }
  .icon-facebook:before {
    content: "\e904";
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 17px;
    top: 15px;
  }
  .icon-grafff:before {
    content: "\e905";
    color: #4db282;
    font-size: 65px;
    line-height: 65px;
  }
  .icon-instagram:before {
    content: "\e906";
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    position: relative;
    left: 12px;
    top: 15px;
  }
  .icon-lamp:before {
    content: "\e907";
    color: #4db282;
    font-size: 65px;
    line-height: 65px;
  }
  .icon-quotes:before {
    content: "\e90a";
    color: #4db282;
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    right: 0;
    top: -35px;
  }
  .icon-twitter:before {
    content: "\e90d";
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 17px;
    top: 15px;
  }
  .header.menu-open .burger-icon {
    position: fixed;
    right: 25px;
  }
  .logo_desctop {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .nav-button {
    margin-left: 20px;
  }
  .nav__item-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 15;
  }
  .header.menu-open .nav__item-list li .nav-link {
    font-size: 32px;
  }
  .nav__item {
    position: fixed;
    top: 0px;
    margin-left: 25px;
    z-index: 15;
  }
  .nav__item:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: brown;
    z-index: 10;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: slidegdz;
            animation-name: slidegdz;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes slidegdz {
    0% {
      width: 10vh;
    }
    100% {
      width: 100vh;
    }
  }
  @keyframes slidegdz {
    0% {
      width: 10vh;
    }
    100% {
      width: 100vh;
    }
  }
  .menu li:not(:last-child) {
    margin-right: 0px;
  }
  .header.menu-open .header__nav-button {
    display: block;
    z-index: 15;
    position: fixed;
    left: 100px;
    top: 310px;
  }
  .block__head div img {
    width: 70%;
    height: 70%;
  }
  .block__creative-diagram {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .creative__diagram {
    position: relative;
    width: 290px;
    height: 300px;
    border-radius: 70px 4px 4px 4px;
    margin: 20px 0 40px 20px;
  }
  .creative__diagram_schedule {
    width: 130px;
    left: -10px;
    bottom: -40px;
    border-radius: 5px;
  }
  .creative__icon_creative-diagram {
    width: 60px;
    height: 60px;
    left: -30px;
    top: 60px;
  }
  .creative__red_box {
    width: 90px;
    height: 120px;
    top: 100px;
    right: -20px;
    border-radius: 6px;
  }
  .block__button .button {
    width: 154px;
  }
  .block__we-build-pro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .block__text p {
    margin-top: 50px;
  }
  .we-build-pro__diagram {
    width: 310px;
    height: 300px;
    border-radius: 4px 70px 4px 4px;
    margin-left: 20px;
  }
  .we-build-pro__diagram_schedule {
    width: 80px;
    height: 80px;
    right: -10px;
    bottom: -30px;
    border-radius: 5px;
  }
  .we-build-pro__icon_creative-diagram {
    width: 60px;
    height: 60px;
    left: -30px;
    top: 60px;
  }
  .we-build-pro__red_box {
    width: 80px;
    height: 100px;
    left: -20px;
    bottom: -20px;
    border-radius: 6px;
  }
  .we-build-pro__yellow_bg {
    width: 300px;
    height: 200px;
    bottom: -10px;
    left: -10px;
  }
  .support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .support__block {
    margin-top: 30px;
  }
  .main-content.scs {
    margin-top: 0px;
  }
  .block.block__scs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scs__diagram {
    margin-left: 20px;
    width: 300px;
    height: 300px;
    border-radius: 70px 4px 4px 4px;
    margin-right: 0px;
  }
  .scs__diagram_schedule {
    width: 150px;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: -80px;
    border-radius: 6px;
  }
  .scs__icon_creative-diagram {
    width: 60px;
    height: 60px;
    left: -30px;
    top: 60px;
  }
  .scs__red_box {
    width: 130px;
    height: 80px;
    top: -20px;
    right: -20px;
    border-radius: 6px;
  }
  .scs__yellow_bg {
    width: 70px;
    height: 300px;
    bottom: -8px;
    right: -8px;
  }
  .block__portfolio-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div > p.block__head-paragraph {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
  }
  .cards__photo {
    width: 100%;
    max-height: 220px;
  }
  .company {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .company div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 120px;
  }
  .company .company__logo {
    margin-bottom: 50px;
  }
  .strategy {
    height: 100%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .strategy .block__media {
    margin-left: 0;
  }
  .media__video {
    width: 300px;
    height: 180px;
  }
  .block__head-title.strategy_title {
    font-size: 40px;
    line-height: 48px;
  }
  .strategy .block__text p {
    margin-top: 0px;
  }
  .media_bg {
    display: none;
  }
  .block__reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__reviews .we-build-pro__diagram {
    margin-bottom: 40px;
  }
  .block__reviews .block__text p {
    margin-top: 0px;
  }
  .carousel.carousel_reviews {
    max-width: 320px;
  }
  .reviews {
    min-width: 300px;
  }
  .icon-quotes:before {
    top: -38px;
  }
  .carousel.carousel_reviews .slick-prev {
    left: 38%;
    margin-top: 30px;
  }
  .carousel.carousel_reviews .slick-next {
    right: 40%;
    margin-top: 30px;
  }
  .icon-quotes:before {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .your_next_project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content.your_next_project__mod {
    padding: 60px;
  }
  .your_next_project__title h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .your_next_project__paragraph p {
    margin: 60px 0 80px 0;
  }
  .your_next_project__art {
    bottom: -140px;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  .company_newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .button {
    margin: 16px 0 0 0;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyrite {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 30px 70px;
  }
  .footer__copyrite .copyrite p {
    text-align: center;
    max-width: 210px;
    margin-bottom: 30px;
  }
  .footer__logo {
    margin: 60px 0;
  }
  .footer h3 {
    margin-top: 65px;
  }
  .social__logo_mod {
    margin-bottom: 80px;
  }
  .members__cards__photo img {
    width: 100%;
    display: block;
    border-radius: 8px 8px 50px 8px;
  }
  .members__cards {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .yellow-rectangle-bg::before {
    height: 500px;
    width: 300px;
    right: -20px;
  }
  .grey-rectangle-bg::before {
    height: 400px;
    width: 400px;
    top: -100px;
  }
}

body {
  position: relative;
}

.wrapper {
  background-color: #f3f3f3;
  position: relative;
  z-index: -100;
}

.main-content {
  max-width: 1170px;
  margin: 0 auto;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#toTop {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #F07566;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 35px;
  /* отступ кнопки от нижнего края страницы*/
  right: 35px;
  cursor: pointer;
  display: none;
  -webkit-box-shadow: 0 0 10px #643226;
          box-shadow: 0 0 10px #643226;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#toTop:hover {
  -webkit-box-shadow: 0 0 25px #642626;
          box-shadow: 0 0 25px #642626;
}

#toTop::before {
  content: '▲';
  color: white;
  font-size: 30px;
  line-height: 40px;
}
