
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    
}
.yellow-rectangle-bg::before{
    content: '';
    background-image: url(../img/rectangle/Rectangle2.png);
    display: block;
    width: 600px;
    height: 800px;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    right: -135px;
    z-index: -50;
    background-size: 100% 100%;
}
// width: 100vw;
// left: calc(-50vw + 50%);
// // /.......................
// .,..........................menu list stile
// ........................................

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    list-style: none;
    z-index: 1;
}
.menu li {
    margin-top: 20px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    
    a {
        transition: all 0.45s;
    }
    
    &:hover {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
        animation: line 1.5s;
    }
    
    &:hover a {
        color: #d94f5c;
    }
    
    &:not(:last-child) {
        margin-right: 30px;
    }
    }
    
    @keyframes line {
        0% {
            background-position-x: 390px;
        }
    }
    




    
.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo {
    width: 100px;
    height: 30px;
}
.logo_mobile {
    display: none;
}
.header__nav {
    margin-left: 20px;
    width: 460px;
}
.nav__item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}
.header__nav-button {
    width: 170px;
    height: 48px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}
.nav-button {
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    width: 170px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F07566;
    border-radius: 5px;
    border: 1px solid #F07566;
    background-color: transparent;
    
}

.gradient-btn {
    transition: .5s;
    overflow: hidden;
    position: relative;
}
.gradient-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 48px;
    background: linear-gradient(to left, #ecf011, #c9890073);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}
.gradient-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}





.burger-icon {
	width: 48px;
	height: 48px;
	border: none;
	background: none;
	position: absolute;
	outline: none;
	display: none;
	cursor: pointer;
    background-color: #F07566;
    border-radius: 50px;
    z-index: 20;
}
.burger-icon-item {
	width: 22px;
	height: 2px;
	background: #fff;
	position: relative;
    margin-left: 14px;
    border-radius: 2px;
    

}

.burger-icon-item::before {
	content: "";
	display: block;
	width: 22px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: -10px;
	left: 0;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

.burger-icon-item::after {
	content: "";
	display: block;
	width: 22px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -10px;
	left: 0;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}
.burger-icon.menu-open .burger-icon-item::before,
.burger-icon.menu-open .burger-icon-item::after{
    transform: rotate(-45deg);
    top: 0px;
    transition: all 0.3s ease 0s;
    visibility: visible;
}
.burger-icon.menu-open .burger-icon-item::after{
    transform: rotate(45deg);
}
.burger-icon.menu-open .burger-icon-item{
    visibility: hidden;
}
