// ...............................................................
// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,block__we_build-pro-busines
// ......................................................................
.block__we-build-pro{
    margin-top: 350px;
    flex-direction: row-reverse;
}
.block {
    display: flex;
    justify-content: space-between;
}
.block__text {
    max-width: 470px;
    p{
        padding-top: 0;
    }
}
.block__head-list{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    li::before{
        content: url(/img/we_build_pro_busines/Shape.svg);
        width: 26px;
        height: 22px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }
}
.point {
    margin-right: 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #F07566;
    border-radius: 6px;
}
.block__head  div:first-child {
    margin-top: 25px;
}
.block__head > p{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 34px;
}
.block__head-title{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #333333;
}
.block__button {
    width: 170px;
    height: 48px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}
.button {
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    width: 170px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #F07566;
    background-color: #F07566;
    margin-top: 35px;
}

.creative__diagram {
    position: relative;
    max-width: 500px;
}
.creative__grey_box {
    display: block;
    max-width: 520px;
    width: 100%;
    padding-left: 40px;
}
.creative__chard{
    max-width: 216px;
    position: absolute;
    left: -50px;
    bottom: -50px;
}
.creative__icon {
    max-width: 100px;
    position: absolute;
    left: -10px;
    top: 100px;
}
.creative__red_box {
    max-width: 132px;
    position: absolute;
    top: 157px;
    right: 0px;
    z-index: -1;
}
.creative__yellow-bc{
    position: absolute;
    bottom: 0px;
    left: -16px;
    z-index: 0;
}