.wrapper-content.your_next_project__mod {
    max-width: 1440px;
    width: 100%;
    background-color: #F07566;
    margin: auto -135px;
    
}
.your_next_project {
}
.your_next_project__title {
}
.block__button {
}
.button {
}
.your_next_project__paragraph {
}
.your_next_project__art {
}