.block__reviews{
    display: flex;
    justify-content: space-between;
}
.reviews__mod{
    text-align: start;
}
.reviews{
    min-width: 470px;
    padding: 30px;
    background: #FFFFFF;
}
div.reviews > p.block__head-paragraph.under-paragraph{
    margin-left: 0;
}
.reviews > div{
    position: relative;
}
.we-build-pro__diagram.reviews__bg-photo{
    position: relative;
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

}
// .carousel.carousel_reviews{
//     box-shadow: -22px 27px 45px -22px rgba(34, 60, 80, 0.6);
//     border-radius: 8px;
// }

.carousel.carousel_reviews .slick-prev,.carousel.carousel_reviews .slick-next {
    position: absolute;
    top: 100%;
    background: #F07566;
    border-radius: 50%;
    display: block;
    z-index: 10;
}
.carousel.carousel_reviews .slick-prev{
    left: 43%;
    margin-top: 20px;
}
.carousel.carousel_reviews .slick-next{
    right: 43%;
    margin-top: 20px;
}

.carousel.carousel_reviews .slick-prev:before,
.carousel.carousel_reviews .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    margin-top: -7px;
    opacity: 1;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}
.block__head.reviews__mod div:last-child {
    margin-top: 0px;
}