.main-content.your_next_project__mod {
    max-width: 1440px;
    width: 100%;
    background-color: #F07566;
    margin: 240px 0 0 0;
    padding: 80px 100px;
    position: relative;
    
}
.your_next_project {
    display: flex;
    justify-content: space-between;
}
.your_next_project__title {
    max-width: 260px;
    h2{
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        color: #FFFFFF;
    }
}

.block__button.your_next_project__mod .button{
    background-color: #FBD34B;
    color: black;
}
.your_next_project__paragraph {
    max-width: 470px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
.your_next_project__art {
    position: absolute;
    bottom: -110px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.your_next_project .button {
    border: 1px solid rgb(240, 219, 102);
    box-shadow: 0px 5px 10px rgb(240, 219, 102);
    transition: all .3s;
    cursor: pointer;
    border-bottom: 2px solid rgba(231, 240, 102, 0.459);
    &:hover{
        box-shadow: 0px 15px 25px -5px rgb(231, 240, 102);
        transform: scale(1.03);
    }
    &:active{        
        box-shadow: 0px 4px 8px rgb(240, 219, 102);
        transform: scale(.98);
    }
}