.header-content{    
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.yellow-rectangle-bg{
    position: relative;
}
.yellow-rectangle-bg::after{
    content: url(/img/rectangle/Rectangle2.png);
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -2;
}
.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo {
    width: 100px;
    height: 30px;
}
.logo_mobile {
    display: none;
}
.header__nav {
    margin-left: 20px;
    width: 460px;
}
.nav__item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}
.header__nav-button {
    width: 170px;
    height: 48px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}
.nav-button {
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    width: 170px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F07566;
    border-radius: 5px;
    border: 1px solid #F07566;
    background-color: transparent;
}
.burger-icon {
	width: 48px;
	height: 48px;
	border: none;
	background: none;
	position: absolute;
	outline: none;
	display: none;
	cursor: pointer;
    background-color: #F07566;
    border-radius: 50px;
}
.burger-icon-item {
	width: 22px;
	height: 2px;
	background: #fff;
	position: relative;
    margin-left: 14px;
    border-radius: 2px;
    

}

.burger-icon-item::before {
	content: "";
	display: block;
	width: 22px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: -10px;
	left: 0;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

.burger-icon-item::after {
	content: "";
	display: block;
	width: 22px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -10px;
	left: 0;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}
.burger-icon.menu-open .burger-icon-item::before,
.burger-icon.menu-open .burger-icon-item::after{
    transform: rotate(-45deg);
    top: 0px;
    transition: all 0.3s ease 0s;
    visibility: visible;
}
.burger-icon.menu-open .burger-icon-item::after{
    transform: rotate(45deg);
}
.burger-icon.menu-open .burger-icon-item{
    visibility: hidden;
}
