.block__portfolio-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio__cards {
    max-width: 570px;
    width: 100%;
}
.cards {
}
.cards__content {
}
.cards__photo{
    width: 570px;
    height: 384px;
    background-color: #D8D8D8;
}
.cards__info {
}
.cards__nomber {
}
.cards__title {
}
.cards__under-title {
}