.footer__mod {
    width: 100%;
    // margin: 0 auto;
    background-color: #333333;
}
.footer-content {
    margin-top: 80px;
    padding: 70px 0;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #494949;
}
.footer {
    h3{
        font-family: 'Hind Siliguri', sans-serif;;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F07566;
        margin-bottom: 32px;
    }
    li a{
        color: #FFFFFF;
        position: relative;
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '';
            color: transparent;
            background: #F07566;
            height: 1px;
        }
    }
    li a:hover:after{   
        width: 100%;
        transition: all 0.5s;
        }
    li a:hover{
        color: #F07566;
    }
    &:last-child{
        content: '';
        margin-right: 110px;
        
    }
}
.menu_list {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}
.social__logo_mod{
    display: flex;
}


.social__logo:hover{
    cursor: pointer;
    animation: 1200ms ease 0s normal none 1 running shake;
    
}
@keyframes shake {
0% {
    transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
}
}




.social__logo {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #F07566;
    position: relative;
}
.footer__copyrite {
    padding:50px 20px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrite {
    max-width: 400px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}
.privat__policy {
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    a{
        color: #FFFFFF;
        position: relative;
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '';
            color: transparent;
            background: #F07566;
            height: 1px;
        }
    }
    a:hover:after{   
        width: 100%;
        transition: all 0.5s;
        }
    a:hover{
        color: #F07566;
    }
}




