.main-content{
    position: relative;
    &.main-content__strategy::before{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100vw;
        left: calc(-50vw + 50%);
        background-color: #F07566;
    }
}
.strategy {
    height: 340px;
    padding: 20px;
    background-color: #F07566;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .block__text{
        color: white;
    }
}
.block__media {
    margin-left: 20px;
    position: relative;

}

.block__head-title.strategy_title{
    color: white;
}

.media_bg {
    position: absolute;
    z-index: -1;
    top: 150px;
    transform: translate(-50%, -50%);
    left: 250px;

}
.media_bg-img {
    height: 100%;
    width: 500px;
}
.media__video{
    width: 500px;
    height: 300px;
}