// ...............................................................
// ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,block__creative-diagram
// ......................................................................
.block__creative-diagram{
    margin-top: 115px;
}
.block {
    display: flex;
    justify-content: space-between;
}
.block__text {
    max-width: 470px;
    >p{
        padding-top: 59px;
        color: #F07566;
        font-family: 'Hind Siliguri', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
.point {
    margin-right: 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #F07566;
    border-radius: 6px;
}
.block__head  div:first-child {
    margin-top: 25px;
}
.block__head >p{
    font-family: 'Work Sans', sans-serif;
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}
.block__button {
    width: 170px;
    height: 48px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}
.button {
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    width: 170px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #F07566;
    background-color: #F07566;
    margin-top: 35px;
}

.creative__diagram {
    position: relative;
    max-width: 500px;
}
.creative__yellow_box {
    display: block;
    max-width: 460px;
    width: 100%;
    padding-right: 40px;
}
.creative__diagram_schedule{
    max-width: 216px;
    position: absolute;
    left: -50px;
    bottom: -50px;
}
.creative__icon_creative-diagram {
    max-width: 100px;
    position: absolute;
    left: -50px;
    top: 100px;
}
.creative__red_box {
    max-width: 132px;
    position: absolute;
    top: 157px;
    right: 0px;
    z-index: -1;
}