.block__reviews{
    display: flex;
    justify-content: space-between;
}
.reviews__mod{
    text-align: start;

}
.reviews{
    min-width: 470px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 5px 24px 48px rgba(0, 17, 86, 0.15);
    border-radius: 8px;
}
div.reviews > p.block__head-paragraph.under-paragraph{
    margin-left: 0;
}
.reviews > div{
    position: relative;
}
.carousel.carousel_reviews .slick-prev,.carousel.carousel_reviews .slick-next {
    position: absolute;
    top: 100%;
    background: #F07566;
    border-radius: 50%;
    display: block;
    z-index: 10;
}
.carousel.carousel_reviews .slick-prev{
    left: 43%;

}
.carousel.carousel_reviews .slick-next{
    right: 43%;
}

.carousel.carousel_reviews .slick-prev:before,
.carousel.carousel_reviews .slick-next:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    margin-top: -7px;
    opacity: 1;
    color:white;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}