@import "_nullstyle";
@import "_header";
@import "_main";
@import "_block__creative-diagram";
@import "_block__we_build_pro";
@import "_support";
@import "_scs";
@import "_portfolio";
@import "_block__portfolio-cards";
@import "_footer";
// ......................................
// font-family: 'Hind Siliguri', sans-serif;
// font-family: 'Work Sans', sans-serif;
//
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper-content {
    max-width: 1170px;
    margin: 0 auto;
}
.block {
    display: flex;
    justify-content: space-between;
}
